body {
    width: 60%;
}

#container > a {
    width: 100%;
    margin: 0;
}

#container > a:first-child {
    margin-top: 5px;
}

#container div {
    padding: 8px 0;
    height: auto;
margin: auto;
margin-top: 8px;
    width: 75%;
}

#container > a h2 {
    font-size: 1em;
}
