@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    background: #EEE;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

body {
    width: 60%;
    margin: auto;
    border-radius: 15px;    
    padding: 10px;
    background: #DDD;        
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 4em;
    text-align: center;
    background: #D44;
    color: #EEE;
    border-radius: 10px;
}

#container {
    width: 80%;
    margin: auto;
    background: #DDD;
    display: flex;
    flex-wrap: wrap;
}

#container > a {
    margin: 5px;
    justify-content: space-around;
    flex-grow: 1;
    width: 25%;
	text-decoration: none;
}

#container div {    
    border-radius: 10px;
    height: 100px;
    margin: 10px 0;
    background: #575757;
    padding: 10px;
}

#container div:hover {
    color: #CCC;
}

#container h2
{
    color: #EEE;
    margin: auto;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}

footer h4{
    
    border-top: 1px #bbb solid;
    padding: 5px;
    text-align: center;
}